<h3>Find a Flight!</h3>
<%= simple_form_for :search, url: root_path, method: 'get' do |form| %>
  <% airport_options = Airport.all.map { |airport| [airport.code, airport.id] } %>
  <% date_options = Flight.all.map { |flight| [flight.date.strftime('%b %e, %l:%M %p'), flight.date] }.uniq(&:first)%>
  <%= form.input :departing_airport, as: :select, collection: airport_options %>
  <%= form.input :arriving_airport, as: :select, collection: airport_options %> 
  <%= form.input :date, as: :select, collection: date_options %>
  <%= form.submit "Search" %>
<% end %>
